@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{  
   var caitalInfo = ViewData.Model as List<CountryCapitalInfo>;   
}

<table>  
   <tr>  
      <th>Country</th>  
      <th>Capital</th>      
   </tr>
   @for(int i=0; i < @caitalInfo.Count(); i++)
    {
       <tr>    
        <td>@caitalInfo[i].Country</td>
        <td>@caitalInfo[i].Capital</td>
      </tr> 
    }
</table> 
